<% include header.ejs %>
  <section id="content-wrapper">
  	<div class="row">
  		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-2">
  			<img src="../img/1.jpg" class="text-center">
  		</div>
  		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-7 school_education">
  			<h1 class="text-center">Department of School Education<br>Punjab</h1>
  		</div>
    </div>
    <div class="row mt-5">
  		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-2"></div>
    	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 text-center">
    		<div class="card logo_area">
    			<h4>some text</h4>
    		</div>
		</div>
	</div>
    <div class="row mt-5">
    	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
    		<div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center"></div>
    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    				<div class="card bg-light">
                        <div class="card-header text-center">
                            <h4>Career Guidance</h4>
                        </div>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">Career Query</a>
                            <br><br>
                            <ol>
                                <li>some text</li>
                                <li>some text</li>
                                <li>some text</li>
                                <li>some text</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center"></div>
	    	</div>
    		
    		</div>
    		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
    		<div class="card mt-5">
    			<div class="card-header bg-info">
    				<h4>some text</h4>
    			</div>
    			<div class="card-body bg-light">
    				
    			</div>
    			
    		</div>
    		<div class="card mt-5">
    			<div class="card-header bg-info">
    				<h4>some text</h4>
    			</div>
    			<div class="card-body bg-light">
    				
    			</div>
    		</div>
    		</div>
    	</div>
  	</section>
</div>
</body>
	<script>
		const $button  = document.querySelector('#sidebar-toggle');
const $wrapper = document.querySelector('#wrapper');

$button.addEventListener('click', (e) => {
  e.preventDefault();
  $wrapper.classList.toggle('toggled');
});
	</script>
</html>