<% include header.ejs %>
<style>
body{
	background-color: #0191C8;
}
.comment-main{
	background-color: #74C2E1;
	box-shadow: 1px 2px 6px 2px #005B9A;
}
.comment-main ul{
	list-style: none;
}
.sub-cmt-img{
	width: 55px !important;
    height: 55px !important;
    border-radius: 50%;
} 
.main-cmt-img{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}
.border-bottom{
	font-size: 13px;
	border-bottom: 1px solid #d3d3d3;
}
.user-comment{
	background-color: #f3f3f3 !important;
    box-shadow: 0px 5px 8px -4px #c1c1c1;
}
.user-comment-desc, .user-comment span{
	color: #a0a0a0;
}
.user-comment-desc p{
	font-size: 12px;
	display: inline-block;
	float: left;
}
.send-icon i{
	font-size: 20px;
	background: #f3f3f3;
	padding: 6px 5px;
	border-radius: 50%;
	color: #74C2E1;
	height: 35px;
	width: 35px;
}
.user-comment:before{
    content: "";
    height: 0;
    width: 0;
    top: 0;
    left: -10px;
    position: absolute;
    border-style: solid;
    border-width: 13px 0 0 13px;
	border-color: #f3f3f3 transparent transparent transparent; 
}
div#comment_reply {
    display: none;
}
div#comment_reply_show {
    display: block;
}
</style>
<br><br>
<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-12 comment-main rounded">
            <div class="card p-3 mt-3">
                <div class="row comment-box p-1 pt-3 pr-4">
                <div class="col-lg-2 col-3 user-img text-center">
                  <img src="../img/download.png">
                </div>
                <div class="col-lg-10 col-9 user-comment bg-light rounded pb-1">
                     <div class="row">
                           <div class="col-lg-8 col-6 border-bottom pr-0">
                              <h5 class="w-100 p-2 m-0"><%- locals.complaint[0].complaint %></h5>
                           </div>
                           <!-- <div class="col-lg-4 col-6 border-bottom">
                              <p class="w-100 p-2 m-0"><span class="float-right"><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>01 : 00</span></p>
                           </div> -->
                     </div> 
                    <div class="user-comment-desc p-1 pl-2 mt-3">
                        <p class="m-0 mr-2"><i class="fa fa-user"></i> krishan</p>                      
                        <p class="m-0 mr-2">Updated -<%- locals.complaint[0].created_at %> </p>           
                    </div>    
                </div>
              </div>
            </div>
          <ul class="p-0">
            <li>
                <% if(locals.comment){
                     for(i=0;i<locals.comment.length;i++){  %>
                <div class="row comment-box p-1 pt-3 pr-4">
                  <div class="col-lg-2 col-3 user-img text-center">
                    <img src="../img/download.png" class="main-cmt-img">
                  </div>
                  <div class="col-lg-10 col-9 user-comment bg-light rounded pb-1">
                       <div class="row">
                             <div class="col-lg-8 col-6 border-bottom pr-0">
                                <h5 class="w-100 p-2 m-0"><%-locals.comment[i].comment %></h5>
                             </div>
                             <!-- <div class="col-lg-4 col-6 border-bottom">
                                <p class="w-100 p-2 m-0"><span class="float-right"><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>01 : 00</span></p>
                             </div> -->
                       </div> 
                      <div class="user-comment-desc p-1 pl-2">
                          <p class="m-0 mr-2"><i class="fa fa-user"></i> krishan</p>                      
                          <p class="m-0 mr-2">Updated - 19/03/2020</p>
                          <p class="m-0 mr-2">+Reply<%-locals.comment[i].ids %></p>
                          <p class="m-0 ml-5"><a href="#" id="reply"> Reply</a></p>
                          <p class="m-0 ml-5"><a href="#"> Show Reply</a></p>                
                      </div>    
                  </div>
                </div>
                <% } }%>
                <div class="row comment_reply" style="display: none;">
                    <div class="col-lg-10 col-10">
                      <input type="text" class="form-control" placeholder="Reply ...">
                    </div>
                    <div class="col-lg-2 col-2 send-icon">
                      <a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                    </div>
                  </div>
               
            </li>
            <hr>
            <div class="row">
              <div class="col-lg-10 col-10">
                <input type="text" class="form-control" placeholder="write comments ...">
              </div>
              <div class="col-lg-2 col-2 send-icon">
                <a href="#" target="_blank"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
              </div>
            </div>
          </ul>
      </div>
    </div>
    </div>

<script>
$(document).ready(function(){
  $("#reply").click(function(){
    $(".comment_reply").toggle();
  });
});
</script>

</body>
</html>