<!DOCTYPE html>
<html>
	<head>
		<title>Mashaal.ssa.org</title>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  		<link rel="stylesheet" type="text/css" href="../style.css">
	</head>
	<body>
		<div id="wrapper">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
	  <h2 class="text-dark">Logo</h2>
	  <hr>
	</div>
    <ul class="sidebar-nav">
      <li class="active">
        <a href="#"><i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-plug"></i>Plugins</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-user"></i>Users</a>
      </li>
      <li>
        <a href="/logout"><i class="fa fa-user"></i>Logout</a>
      </li>
    </ul>
  </aside>
  <div id="navbar-wrapper">
 <nav class="navbar navbar-inverse navbar-expand-md ">
      <div class="container-fluid">
          <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
          <a href="#" class="site_name">Mashaal.ssa.org</a>
          <button type="button" class="navbar-toggler text-dark" data-toggle="collapse" data-target="#navbarCollapse">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">About</a>
                <a href="#" class="nav-item nav-link">Contect Us</a>
                <a href="#" class="nav-item nav-link">School Counsller</a>
                <a href="/login/" class="nav-item nav-link">Login <i class="fa fa-user"></i></a>
            </div>
        </div>
        </div>
      </div>
	</nav>