<!DOCTYPE html>
<html>
	<head>
		<title>Mashaal.ssa.org</title>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  		<link rel="stylesheet" type="text/css" href="../style.css">
	</head>
	<body>
		<div id="wrapper">

  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="#">Mashaal.ssa.org</a>
    </div>
    <ul class="sidebar-nav">
      <li class="active">
	    	<a href="#"><i class="fa fa-home"></i>DAILY</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-plug"></i>CAREER NEWS BULLETIN</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-user"></i>JOB ALERTS</a>
	    </li>
	    <li>
		  	<a href="#"><i class="fa fa-user"></i>ADMISSION ALERTS</a>
		  </li>
		  <li>
				<a href="#"><i class="fa fa-user"></i>SCHOLORSHIPS</a>
			</li>
			<li>
			  <a href="#"><i class="fa fa-user"></i>YOUNG ACHIEVERS</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-user"></i>SUCCESS STORIES</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-user"></i>YOU TUBE VIDEOS</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-user"></i>INSTITUTIONS LIST</a>
			</li>
			<li>
			  <a href="#"><i class="fa fa-user"></i>SCHOOL CONRSETORS</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-user"></i>DIVYORG</a>
      </li>
			<li>
		  	<a href="#"><i class="fa fa-user"></i>PPTS</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-user"></i>CAREER ARTICLES</a>
			</li>
			<li>
		    <a href="#"><i class="fa fa-user"></i>PSYCHOLOGICAL ARTICLES</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-user"></i>DIGITAL LI</a>
			</li>
    </ul>
  </aside>
  <div id="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-expand-md ">
      <div class="container-fluid">
        <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
        <a href="#" class="site_name">Mashaal.ssa.org</a>
        <button type="button" class="navbar-toggler text-dark" data-toggle="collapse" data-target="#navbarCollapse">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ml-auto">
            <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">About</a>
            <a href="#" class="nav-item nav-link">Contect Us</a>
            <a href="#" class="nav-item nav-link">School Counsller</a>
            <a href="login" class="nav-item nav-link "><i class="fa fa-sign-in-alt"></i> Login </a>
          </div>
        </div>
      </div>
  </nav>