<% include header.ejs %>
 
<section id="content-wrapper">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-2 text-center">
			<img src="../img/logo.jpeg" style="border-radius: 50%" height="130px" width="100%">
		</div>
		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-7 school_education">
			<h1 class="text-center">Department of School Education<br>Punjab</h1>
		</div>
  </div>
  <div class="row mt-5">
		<div class="col-md-2"></div>
	  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 text-center">
		  <div class="card logo_area_11aa">
			  <h4>Psychological Counseling and Career Guidance</h4>
		  </div>
	  </div>
	  <div class="col-md-2"></div>
  </div>
  <div class="row mt-5">
	  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 ">
		  <div class="row">
			  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
				  <div class="card text-center bg-light  shadow p-2">
					  <h5 class="section_card mt-3 mb-3"><a href="/send_complaint">Psychological Counselling</a></h5>
				  </div>
			  </div>
			  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
				  <div class="card text-center bg-light shadow p-1">
					  <img src="../img/mashaal.jpeg">
				  </div>
			  </div>
			  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
				  <div class="card text-center bg-light shadow p-3">
					  <h5><a href="/career_guidance">Career Guidance</a></h5>
				  </div>
			  </div>
		  </div>
		  <div class="card mt-5">
			  <div class="card-header">
				  <h4>Psychological Counseling and Career Guidance</h4>
			  </div>
			  <div class="card-body bg-light">
					  <div class="media">
							  <h3><a href="#">Jobs | ਪੰਜਾਬ ਸਿੱਖਿਆ ਵਿਭਾਗ ਵੱਲੋਂ ਸਮਾਜਿਕ ਸਿੱਖਿਆ ਮਾਸਟਰ/ਮਿਸਟ੍ਰੈਸ ਕਾਡਰ ਦੀਆਂ 52 ਆਸਾਮੀਆਂ (ਬਾਰਡਰ ਏਰੀਆ ਲਈ) ਨੂੰ ਭਰਨ ਲਈ ਆਨ-ਲਾਈਨ ਦਰਸਖਾਸਤਾਂ ਦੀ ਮੰਗ</a></h3>
							  </div>
							  <hr>
							  <div class="media">
							  <h3><a href="#">An Overview of the Protection of Children from Sexual Offences Act, 2012</a></h3>
								  </div>
								  <hr>
								  <div class="media">
								  <h3><a href="#">Jobs | ਪੰਜਾਬ ਸਿੱਖਿਆ ਵਿਭਾਗ ਵੱਲੋਂ ਅੰਗਰੇਜ਼ੀ ਮਾਸਟਰ/ਮਿਸਟ੍ਰੈਸ ਕਾਡਰ ਦੀਆਂ 880 ਆਸਾਮੀਆਂ (ਬਾਰਡਰ ਏਰੀਆ ਲਈ) ਨੂੰ ਭਰਨ ਲਈ ਆਨ-ਲਾਈਨ ਦਰਸਖਾਸਤਾਂ ਦੀ ਮੰਗ</a></h3>
									  </div>
						  <hr>
						  <div class="media">
							  <h3><a href="#">Jobs | ਪੰਜਾਬ ਸਿੱਖਿਆ ਵਿਭਾਗ ਵੱਲੋਂ ਸਮਾਜਿਕ ਸਿੱਖਿਆ ਮਾਸਟਰ/ਮਿਸਟ੍ਰੈਸ ਕਾਡਰ ਦੀਆਂ 52 ਆਸਾਮੀਆਂ (ਬਾਰਡਰ ਏਰੀਆ ਲਈ) ਨੂੰ ਭਰਨ ਲਈ ਆਨ-ਲਾਈਨ ਦਰਸਖਾਸਤਾਂ ਦੀ ਮੰਗ</a></h3>
							  </div>
							  <hr>
							  <div class="media">
							  <h3><a href="#">An Overview of the Protection of Children from Sexual Offences Act, 2012</a></h3>
								  </div>
								  <hr>
								  <div class="media">
								  <h3><a href="#">Jobs | ਪੰਜਾਬ ਸਿੱਖਿਆ ਵਿਭਾਗ ਵੱਲੋਂ ਅੰਗਰੇਜ਼ੀ ਮਾਸਟਰ/ਮਿਸਟ੍ਰੈਸ ਕਾਡਰ ਦੀਆਂ 880 ਆਸਾਮੀਆਂ (ਬਾਰਡਰ ਏਰੀਆ ਲਈ) ਨੂੰ ਭਰਨ ਲਈ ਆਨ-ਲਾਈਨ ਦਰਸਖਾਸਤਾਂ ਦੀ ਮੰਗ</a></h3>
									  </div>
			  </div>
			  </div>
		  </div>
		  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		  <div class="card ">
			  <div class="card-header bg_color1">
				  <h5>Psychologist's Blog</h5>
			  </div>
			  <div class="card-body bg-light">
				  <h6><a href="#">Best Study Methods</a></h6>
				  <p><small>Sit in a quiet place with no distractions like TV or noise. Switch off your mobile phone and put it away in another room.Sit with your back straight without slouching or bending your neck or shoulders forward. Hold the book up 12 -15" away from your eyes.Make sure that there is adequate light available. Use a lamp if needed.Make sure you get a minimum of eight hours of sleep. Eat healthy food and avoid too much tea or coffee.Your brain works best when:It is well restedIt is hydrated - drinking water is importantIt is drawing energy from en...</small></p>
			  </div>
			  
		  </div>
		  <div class="card mt-5">
			  <div class="card-header bg_color2">
			  <h5>Students Problems</h5>
			  </div>
			  <div class="card-body_punjabi_para bg-light">
				  <p>
					  <ul>
						  <li><a href="#">Jobs | ਪੰਜਾਬ ਸਰਕਾਰ ਵੱਲੋਂ ਅਮ੍ਰਿੰਤਸਰ ਵਿਖੇ ਰਾਜ ਪੱਧਰੀ ਪੰਜਾਬ ਪਲੇਸਮੈਂਟ ਮੇਲੇ ਦਾ ਆਯੋਜਨ</a></li>
						  <hr>
						  <li><a href="#"> Jobs | ਪੰਜਾਬ ਸਿੱਖਿਆ ਵਿਭਾਗ ਵੱਲੋਂ ਸਾਇੰਸ ਮਾਸਟਰ/ਮਿਸਟ੍ਰੈਸ ਕਾਡਰ ਦੀਆਂ 700 ਆਸਾਮੀਆਂ (ਬਾਰਡਰ ਏਰੀਆ ਲਈ) ਨੂੰ ਭਰਨ ਲਈ ਆਨ-ਲਾਈਨ ਦਰਸਖਾਸਤਾਂ ਦੀ ਮੰਗ</a></li>
						  <hr>
						  <li><a href="#"> Jobs | ਪੰਜਾਬ ਸਿੱਖਿਆ ਵਿਭਾਗ ਵੱਲੋਂ ਹਿੰਦੀ ਮਾਸਟਰ/ਮਿਸਟ੍ਰੈਸ ਕਾਡਰ ਦੀਆਂ 40 ਆਸਾਮੀਆਂ (ਬਾਰਡਰ ਏਰੀਆ ਲਈ) ਨੂੰ ਭਰਨ ਲਈ ਆਨ-ਲਾਈਨ ਦਰਸਖਾਸਤਾਂ ਦੀ ਮੰਗ</a></li>
					  <hr>
					  <li><a href="#"> Jobs | ਪੰਜਾਬ ਸਿੱਖਿਆ ਵਿਭਾਗ ਵੱਲੋਂ ਸਮਾਜਿਕ ਸਿੱਖਿਆ ਮਾਸਟਰ/ਮਿਸਟ੍ਰੈਸ ਕਾਡਰ ਦੀਆਂ 52 ਆਸਾਮੀਆਂ (ਬਾਰਡਰ ਏਰੀਆ ਲਈ) ਨੂੰ ਭਰਨ ਲਈ ਆਨ-ਲਾਈਨ ਦਰਸਖਾਸਤਾਂ ਦੀ ਮੰਗ</a></li>
					  <hr>
					  <li><a href="#"> Jobs | ਪੰਜਾਬ ਸਿੱਖਿਆ ਵਿਭਾਗ ਵੱਲੋਂ ਅੰਗਰੇਜ਼ੀ ਮਾਸਟਰ/ਮਿਸਟ੍ਰੈਸ ਕਾਡਰ ਦੀਆਂ 880 ਆਸਾਮੀਆਂ (ਬਾਰਡਰ ਏਰੀਆ ਲਈ) ਨੂੰ ਭਰਨ ਲਈ ਆਨ-ਲਾਈਨ ਦਰਸਖਾਸਤਾਂ ਦੀ ਮੰਗ</a></li>


					  </ul>
				  </p>
			  </div>
		  </div>
		  </div>
	  </div>
	</section>
</div>
</body>
  <script>
	  const $button  = document.querySelector('#sidebar-toggle');
const $wrapper = document.querySelector('#wrapper');

$button.addEventListener('click', (e) => {
e.preventDefault();
$wrapper.classList.toggle('toggled');
});
  </script>
</html>