<% include header.ejs %>
  <section id="content-wrapper">
  	<div class="row">
  		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-2">
  			<img src="../img/1.jpg" class="text-center">
  		</div>
  		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-7 school_education">
  			<h1 class="text-center">Department of School Education<br>Punjab</h1>
  		</div>
    </div>
    <div class="row mt-5">
  		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-2"></div>
    	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 text-center">
    		<div class="card logo_area">
    			<h4>some text</h4>
    		</div>
		</div>
	</div>
    <div class="row mt-5">
    	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
    		<div class="row">
				<div class="container">
					<h2>Your Question</h2>
					<% if(locals.status){ %>
					<div class="row">
						<a href="/index/view_complaint" class="ml-auto mr-5 btn btn-primary">View Complaint</a>
					</div>
					<% } %>
					<form action="/index/submit_complaint" method="GET" autocomplete="off"> 
					  <div class="form-group mt-4">
						<label>Complaint</label>
						<input type="text" class="form-control" placeholder="Enter your complaint ......" name="complaint" required>
					  </div>
					  <button type="submit" class="btn btn-primary">Submit</button>
					</form>
	    	</div>
    		
			</div>
    	</div>
    		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
    		<div class="card mt-5">
    			<div class="card-header bg-info">
    				<h4>some text</h4>
    			</div>
    			<div class="card-body bg-light">
    				
    			</div>
    			
    		</div>
    		<div class="card mt-5">
    			<div class="card-header bg-info">
    				<h4>some text</h4>
    			</div>
    			<div class="card-body bg-light">
    				
    			</div>
    		</div>
    		</div>
    	</div>
  	</section>
</div>
</body>
	<script>
		const $button  = document.querySelector('#sidebar-toggle');
const $wrapper = document.querySelector('#wrapper');

$button.addEventListener('click', (e) => {
  e.preventDefault();
  $wrapper.classList.toggle('toggled');
});
	</script>
</html>