body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
}

a {
  transition: 0.2s, color 0.2s;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #ef712b;
}
img {
  max-width: 100%;
}
#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
  box-shadow: 0 4px 10px #7d7a7a;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 250px;
  text-align: center;
  padding: 20px 0;
}
.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #7d7a7a;
  font-weight: 600;
  font-size: 14px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #f77225;
}
.sidebar-nav > li > a i.fa {
  font-size: 20px;
  width: 40px;
}

#navbar-wrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
  position: absolute;
  margin-right: -250px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background: #0b398e;
  font-size: 16px;
  margin-bottom: 0;
  border-radius: 0;
  /* box-shadow: 0 4px 16px #0b398e; */
}
#navbar-wrapper .navbar a {
  color: #e0dcdc;
}
#navbar-wrapper .navbar a:hover {
  color: #f77225;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}
.school_education:hover {
  color: #f77225;
}
.card.logo_area {
  background-color: #fff;
}
.card-header {
  background-color: #0b398e;
  color: #fff;
}
.card-header.bg_color1 {
  background-color: #0b398e;
  color: #fff;
}
.card-header.bg_color2 {
  background-color: #0b398e;
  color: #fff;
}
@media (min-width: 767px) {
  .site_name {
    display: none;
  }
}
@media (min-width: 992px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}
/* /////---------//// */
img.media_img {
  height: 86px;
  width: 86px;
  border-radius: 50%;
}
h5.media_head {
  font-size: 20px;
  font-weight: 600;
}
h6.media_title {
  font-size: 17px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.card.text-center.bg-light.shadow {
  border: none;
}
.card.text-center.bg-light.p-2 {
  border: none;
  color: #7d7a7a;
}
.card.text-center.bg-light.p-3 {
  border: none;
  color: #7d7a7a;
}
.card-body_punjabi_para.bg-light {
  float: left;
  text-align: left;
}
.card.logo_area_11aa {
  padding: 3px;
  color: #ef712b;
  border: #09398d solid 2px;
}